:root {
    --main-color: #9c8a24; /* Define the color variable */
    --main-white: #fff; /* Define the white color variable */
  }
 
 /* Cases */
 #cases {
    text-align: center;
    padding: 20px;
}

#cases h2 {
    font-size: 24px;
    color: var(--main-white); 
}

